{% extends 'mysite/_base.html' %}
{% load static %}
    {% block title %}Hanasu{% endblock title %}
    {% block content %}

    <section>
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="child" id="child-1"><a href="{% url 'maneki_neko' %}" ><img src="{% static "mysite/img/maneki.jpg"%}" alt="Maneki Neko Game"></a></div>
                    </div>
                    <div class="flip-card-back"><a href="{% url 'maneki_neko' %}" ><img src="{% static "mysite/img/maneki.jpg"%}" alt="Maneki Neko Game"></a>
                      
                        <h2>Le Maneki Neko</h2>
                        <p>Joue et apprends.</p>
                        <p>retrouve les bon idéogrammes et deviens le champion des Hiragana et Katakana.</p>
                    
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="child" id="child-1"><a href="{% url 'lexique' %}" ><img src="{% static "mysite/img/question.jpg"%}" alt="lexique"></a></div>
                    </div>
                    <div class="flip-card-back"><a href="{% url 'lexique' %}" ><img src="{% static "mysite/img/question.jpg"%}" alt="lexique"></a>
                        <h2>Lexique</h2>
                        <p>Crée ton propre lexique.</p>
                        <p>Ajoute, modifie ou supprime des images et leurs traductions.</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="child" id="child-1"><a href="{% url 'blog' %}" ><img src="{% static "mysite/img/poulp.jpg"%}" alt="blog"></a></div>
                    </div>
                    <div class="flip-card-back"><a href="{% url 'blog' %}" ><img src="{% static "mysite/img/poulp.jpg"%}" alt="lexique"></a>
                        <h2>Blog</h2>
                        <p>Retrouve des artilcles</p>
                        <p>Découvre le Japon et ses merveilles. Voyage au fils de tes lectures et apprends grâce à nos articles.</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="child" id="child-1"><a href="https://cours-de-japonais.com" ><img src="{% static "mysite/img/sophie.png"%}" alt="cours de japonais"></a></div>
                    </div>
                    <div class="flip-card-back"><a href="https://cours-de-japonais.com" ><img src="{% static "mysite/img/sophie.png"%}" alt="cours de japonais"></a>
                        <h2>Cours de japonais.com </h2>
                        <p>Retrouve Sophie et sa methode d'apprentissage du Japonais</p>
                        
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="child" id="child-1"><a href="#" ><img src="{% static "mysite/img/datura.jpg"%}" alt="Maneki Neko Game"></a></div>
                    </div>
                    <div class="flip-card-back"><a href="#" ><img src="{% static "mysite/img/datura.jpg"%}" alt="Maneki Neko Game"></a>
                        <h2>David Plessix</h2>
                        <p>Develloppeur Web et Web Mobile</p>
                        <p>Python, Javascript, Html et Css.</p>
                        <p>Django et Base De Donnée PostgreSQL.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div>
            <p>
                Créer par David Plessix, Formation Dev Web et Web Mobile.
                Projet N°3 soutenance 2022
            </p>
        </div>
    </footer>
    {% endblock content %}
    